[global]
    workgroup = {{ domain_name|upper }}
    security = ADS
    realm = {{ realm }}
    encrypt passwords = yes
    idmap config * : backend = tdb
    idmap config * : range = 3000-7999
    template shell = /bin/bash
    winbind use default domain = yes
    winbind offline logon = false
    client signing = yes
